/*** Variables ***/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  padding: 0 20px;
}

h1 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  color: #070439;
  line-height: 1.5;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  color: #070439;
}

p {
  font-family: "Open sans", sans-serif;
  font-size: 0.9em;
  color: #070439;
  line-height: 1.5;
}

.blue-btn {
  background-color: #3065f8;
  color: #f6f6fe;
  font-size: 1em;
  font-family: "Open sans", sans-serif;
  border: 1px solid #3065f8;
  border-radius: 3px;
  padding: 10px 20px;
}

/*** Top section ***/
.logo-and-nav {
  padding: 10px;
}

.logo-header {
  float: left;
  width: 50%;
}
.logo-header img {
  width: 45%;
}

.logo-and-nav nav {
  float: right;
  width: 50%;
  text-align: right;
}
.logo-and-nav nav a {
  text-decoration: none;
  margin-left: 15px;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  color: #070439;
}

.header-illustration {
  margin-top: 60px;
  margin-bottom: 20px;
}
.header-illustration img {
  width: 100%;
}

.header-text {
  text-align: center;
}
.header-text input {
  width: 93%;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #070439;
  border-radius: 3px;
  font-family: "Open sans", sans-serif;
  margin-bottom: 20px;
}
.header-text button {
  width: 93%;
  margin-bottom: 20px;
}

/*** Middle section ***/
.illustration1 {
  display: block;
  width: 100%;
}

.middle-section-bg {
  background-color: #f6f6fe;
}

.illustration2-container {
  padding: 40px 20px;
}
.illustration2-container img {
  width: 100%;
}

.middle-section-text {
  padding-bottom: 40px;
}
.middle-section-text h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.middle-section-text p {
  color: #585989;
}
.middle-section-text .anchor-tag {
  text-align: center;
  border-bottom: 1px solid #3c9f8f;
  width: 53%;
  margin: 40px auto;
  padding-bottom: 5px;
}
.middle-section-text .anchor-tag a {
  text-decoration: none;
  color: #3c9f8f;
  font-family: "Open sans", sans-serif;
}
.middle-section-text .anchor-tag a i {
  color: #FFF;
  background-color: #3c9f8f;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 0.6em;
  padding: 3px;
  margin-left: 5px;
}
.middle-section-text .quote {
  background-color: #FFF;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px #dddddd;
  -moz-box-shadow: 0px 0px 5px 0px #dddddd;
  box-shadow: 0px 0px 5px 0px #dddddd;
}
.middle-section-text .quote span {
  display: block;
  font-size: 3.5em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.middle-section-text .quote p {
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-top: 0;
  color: #070439;
}
.middle-section-text .quote img {
  border-radius: 50%;
  width: 20%;
  float: left;
  margin-right: 10px;
}
.middle-section-text .quote p:nth-child(3) {
  font-weight: bold;
  margin-bottom: 0;
}

.early-acces {
  background-color: #585989;
  color: #FFF;
  text-align: center;
  padding: 40px 20px;
}
.early-acces p, .early-acces h2 {
  color: #FFF;
}
.early-acces input {
  width: 93%;
  font-size: 1em;
  padding: 10px 20px;
  border: 1px solid #585989;
  border-radius: 3px;
  font-family: "Open sans", sans-serif;
  margin-bottom: 20px;
}
.early-acces button {
  width: 93%;
  margin-bottom: 20px;
}
.early-acces .social {
  text-align: center;
}
.early-acces .social li {
  display: inline-block;
  margin-right: 15px;
}
.early-acces .social li i {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 8px;
}

/*** Media queries ***/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.3em;
  }

  .logo-and-nav {
    padding: 60px;
  }

  .logo-header img {
    width: auto;
  }

  .logo-and-nav nav a {
    margin-left: 40px;
  }

  header {
    margin-bottom: 80px;
  }

  .header-illustration img {
    margin: 0;
  }

  .header-text {
    padding: 80px 40px 0 40px;
  }

  .header-text input {
    width: 60%;
    margin-right: 10px;
  }

  .header-text button {
    width: 30%;
  }
}
.footer-site {
  background-color: #070439;
  font-family: "Open sans", sans-serif;
  color: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-site ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer-site ul li {
  margin-bottom: 15px;
}
.footer-site ul li img {
  margin: 0 10px;
}
.footer-site .left {
  margin-bottom: 40px;
}
.footer-site a {
  text-decoration: none;
  color: #FFF;
  display: block;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1440px) {
  .header-illustration {
    float: right;
    width: 50%;
  }

  .header-text {
    float: left;
    width: 50%;
    text-align: left;
    padding: 120px 80px 0 0;
  }

  .illustration2-container {
    float: right;
    width: 50%;
    padding: 60px;
  }

  .middle-section-text {
    float: left;
    width: 50%;
    padding: 0 60px 60px;
    text-align: left;
  }
  .middle-section-text h2 {
    text-align: left;
  }
  .middle-section-text .anchor-tag {
    text-align: left;
    width: 30%;
    margin: 0;
  }
  .middle-section-text .quote {
    width: 70%;
    margin-left: 0;
  }
  .middle-section-text .quote img {
    width: 13%;
  }
  .middle-section-text .quote p:nth-child(3) {
    font-weight: bold;
    margin-bottom: 0;
  }

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  h2 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.1em;
  }

  .early-acces {
    padding: 60px;
    text-align: left;
  }
  .early-acces .early-acces-text {
    float: left;
    width: 50%;
  }
  .early-acces .early-acces-text h2 {
    margin-top: 0;
  }
  .early-acces .early-acces-input {
    float: right;
    width: 50%;
    padding: 20px 20px 20px 80px;
  }
  .early-acces .early-acces-input button {
    width: auto;
  }

  .footer-site {
    padding-bottom: 0;
  }
  .footer-site .footer-logo {
    margin-bottom: 20px;
  }
  .footer-site ul {
    margin: 0;
  }
  .footer-site .footer-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .footer-site .footer-grid-container ul li {
    margin-bottom: 30px;
  }
  .footer-site .footer-grid-container nav a {
    margin-bottom: 30px;
  }
  .footer-site .footer-grid-container .social {
    text-align: center;
  }
  .footer-site .footer-grid-container .social li {
    display: inline-block;
    margin-right: 15px;
  }
  .footer-site .footer-grid-container .social li i {
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 8px;
  }
}

/*# sourceMappingURL=main.css.map */
